@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
  color: #1b2a4e;
  font-size: 16px;
  line-height: 1.625;
  font-family: Nunito, sans-serif;
}

body {
  background-color: #f3f4f4;
}
